* {
  margin: 0;
}

body {
  background-color: #F2EAE2;
  min-height: 100vh;  
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}


.main-box {
  margin: 1rem;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (min-width: 40rem) {
  .main-box {
    width: 37.5rem;
    height: 28.125rem;
    flex-direction: row;
    justify-content: space-between;
  }
}

.img-background {
  width: 100%;
  height: 15rem;
  background: url('./images/image-product-mobile.jpg');
  background-size: cover;
}

@media (min-width: 40rem) {
  .img-background {
    height: 100%;
    width: 18.75rem;
    background: url('./images/image-product-desktop.jpg');
    background-size: contain;
  }
}

.content {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 23rem;
}

@media (min-width: 40rem) {
  .content__wrap {
    display: flex;
    height: 100%;
    width: 50%;
  }
  .content {
    justify-content: space-between;
    align-self: center;
  }
}

.small-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.3rem;
  color: #6C7289;
}

.title {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: #1C232B;
}

.content p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 1.5rem;
  color: #6C7289;
}

.price {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 60%;
}

.price-1 {
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  color: #3D8168;
}

.price-2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 1.5rem;
  margin: 1rem;
  text-decoration-line: line-through;
  color: #6C7289;
}

.content button {
  background: #3D8168;
  border-radius: 8px;
  border: none;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
}

.icon-cart {
  margin: 0.25rem;
}

.button-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 0.95rem;
  line-height: 1rem;
  color: #FFFFFF;
  margin: 0.25rem;
}